body{
    background-color: #ffb6c1;
    color: #0000ff;
    padding: 100px;
    font-family: Vidaloka;
}
h2{
    color: #8a0000;
}
h3{
    color: #8b008b;
}
h4{
    color: #ffd700;
}
h5{
    color: #dc143c;
}
p{
    color:#0000ff;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse
}
.container{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
}
img{
    width: 400px;
    height: 200px;
    border-radius: 30px;
    margin: -20px;
}
@media only screen and (max-width: 768px){
    img{
        width: 200px;
        height: 100px;
        border-radius: 20px;
    }
    .container{
        width: 200px;
    }
}